name: Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  tests:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Deps
        run: |
            python -m pip install --upgrade pip
            python -m pip install ".[dev]"
      - name: Run Tests
        run: pytest test/ --error-for-skips

  lint:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            python -m pip install ".[dev]"
      - name: Pre-commit checks (linting)
        run: pre-commit run --all-files

  documentation:
    name: Build documentation
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Deps
        run: |
            python -m pip install --upgrade pip
            python -m pip install ".[dev,documentation]"
      - name: Build documentation
        run: cd docs && make html
